{% load staticfiles  %}
<html lang="RU">
<body>
{% include "header.html" %}
{% block content %}
<!-- PRICE SECTION START -->
<section class="section bg-gray">
	<div class="shell ">
		<h2>Цены</h2>
		<hr class="divider divider-lg bg-primary hr-md-left-0">
		<div class="container range range-xs-center">
			<table class="table table-condensed">
				<thead>
					<tr>
						<th>Время</th>
						<th>понедельник-четверг</th>
						<th>пятница-воскресенье</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th>8:00&nbsp;-&nbsp;12:00</th>
						<td>25 руб/час</td>
						<td>30 руб/час</td>
					</tr>
					<tr>
						<th>12:00&nbsp;-&nbsp;17:00</th>
						<td>30 руб/час</td>
						<td>35 руб/час</td>
					</tr>
					<tr>
						<th>17:00&nbsp;-&nbsp;24:00</th>
						<td>35 руб/час</td>
						<td>38 руб/час</td>
					</tr>
					<tr>
						<th>24:00&nbsp;-&nbsp;8:00</th>
						<td>30 руб/час</td>
						<td>35 руб/час</td>
					</tr>
				</tbody>
			</table>
		</div>
		<h2>Дополнительные услуги</h2>
		<hr class="divider divider-lg bg-primary hr-md-left-0">
		<div class="container range range-xs-center">
			<table class="table table-condensed">
				<tbody>
				<tr>
					<th>Веники(дуб канадский)</th>
					<td>5 рубей</td>
				</tr>
				<tr>
					<th>Полотенца, тапочки, простыни</th>
					<td>3 рубля</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>
<!-- PRICE SECTION END -->

<!-- BENEFITS START -->
<section id="benefits">
	<div class="shell">
		<h2>акции</h2>
		<hr class="divider divider-lg bg-primary hr-md-left-0">
		<div class="range  range-xs-center"></div>
		<div class="row" id="bonus">

			<c:forEach var="benefits" items="${ALL_BENEFITS}">
				<div class="col-sm-6">
					<div class="content-padding">
						<div class="item-media">
							<img src="<c:url value="/getimage?photo_id=${benefits.photo.id}"/>" alt="${benefits.photo.name}"
								width="570px" height="290px">
						</div>
						<div class="item-content">
							<h5 class="text-primary text-bold">${benefits.header}</h5>
							<p>
								<c:out value="${benefits.text}"/>
							</p>
						</div>
					</div>
				</div>
			</c:forEach>

		</div>
	</div>
</section>
<!-- BENEFITS END -->
{% endblock content %}
{% include "footer.html" %}
</body>
</html>